@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./Consts.scss";

$line-gap-s: 12px;

body {
  /**/
  // font-family: "Roboto", sans-serif;
  font-family: "Google Sans", Helvetica, Arial, sans-serif;
  margin: 0px;
  // @extend .selection-color-update;
}

.intro-text {
  // font-family: "Source Serif Pro", serif;
  max-width: $pg-lg;
  margin-left: auto;
  margin-right: auto;

  text-wrap: pretty;
  position: relative;
  font-size: 42px;
  // font-size: clamp(47px, 6.8vw, 78px);
  font-weight: 300;
  margin-top: 120px; // 185
  margin-bottom: 50px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #111;
  line-height: 1.3em;

  .name {
    // font-weight: 500;
    // color: rgba(0, 0, 255, 0.98);
    // font-weight: 700;
    // color: black;
    color: #a8a8a8;
  }

  @media (max-width: $width-lg) {
  }
  @media (max-width: $width-md) {
    max-width: $pg-md;
    font-size: 38px;
    // font-size: 10vw;
    margin-top: 100px; // 185
    margin-bottom: 40px;
    line-height: 1.3em;
    text-align: left;
    margin-left: $line-gap-s;
    margin-right: $line-gap-s;

    // padding: 30px;
  }
  @media (max-width: $width-sm) {
    font-size: 34px;
    padding: 28px;
    margin-top: 90px; // 185
    margin-bottom: 30px;
  }

  @media (max-width: 375px) {
    font-size: 34px;
    padding: 28px;
  }
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  left: 0px;
  height: 160px;
  bottom: 0px;
  margin: 0px;
  margin-top: 100px;
  // background-color: #f7f7f7;
  padding-top: 10px;
  // border-top: 1px solid #eee;
}
.footer > .footer-social {
  // max-width: 420px;
  max-width: 300px;
  width: 80%;
  // background-color: red;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $width-sm) {
    // max-width: 240px;
  }
  @media (max-width: $width-xxs) {
    // max-width: 220px;
  }
}
.footer-social > .social {
  font-weight: 500;
  font-size: 15px;
  border-bottom: 2px solid #333;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
  }
  @media (max-width: $width-sm) {
    font-size: 14px;
  }
  @media (max-width: $width-xxs) {
    font-size: 13px;
  }
}
.footer-social > .social:hover {
  color: blue;
  border-color: blue;

  a {
    text-decoration: none;
    color: blue;
  }
}

.intro-data {
  display: inline;
  // color: white;
}

li a {
  // color: blue;
}
