@import "./Consts.scss";

.more {
  // max-width: $width-sm;
  max-width: $pg-md;
  margin: 12px auto 12px auto;
  padding: 20px;
}

.moreHed {
  font-size: 35.5px;

  cursor: pointer;
  @extend .selection-disabled;

  @media (max-width: $width-sm) {
    font-size: 34px;
  }
}
.moreHed:hover {
  color: $highlight-color;
  .arrow {
    // margin-left: 10px;
    transition: all 0.1s;
  }
}
.arrow {
  transform: rotate(0deg);
  display: inline-block;
  transition: transform 0.3s;
}
.rotateArrow {
  transform: rotate(90deg);
}

.moreDesc {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 1.45em;

  display: grid;
  grid-template-rows: 0fr;
  vertical-align: top;
  transition:
    grid-template-rows 0.3s,
    opacity 0.3s;
  opacity: 0;

  > .descHed {
    overflow: hidden;
    min-height: 0;
  }

  @media (max-width: $width-sm) {
    font-size: 15px;
  }

  .tags {
    font-size: 14px;
    padding: 2px 10px;
    border: 1px solid #333;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 4px;
    @media (max-width: $width-sm) {
      font-size: 13px;
    }
  }
  .honor {
    margin-bottom: 18px;
  }
  .date {
    font-weight: bold;
    font-size: 13px;
    margin-right: 12px;
  }
  .story {
    color: #aaa;
  }
}

.moreDescMore {
  line-height: 1.8em;
}

.showSkills,
.showHonors,
.showTeaching {
  grid-template-rows: 1fr;
  opacity: 1;
}

.showHonors > .descHed {
  padding-bottom: 60px;
}

.showSkills > .descHed {
  padding-bottom: 60px;
}
